@model Beer_Quest.Models.ViewModels.BreweryCheerCountViewModel

@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}

@{var user = await UserManager.GetUserAsync(User);}

<h1>Details</h1>

<div class=" text-center">
    <h4 >
        <img class="img-thumbnail" style="max-width: 150px;" src="@Url.Content("~/images/" + Model.ImagePath)" alt="" />
        @Html.DisplayFor(model => model.Name)
    </h4>
    @if (user != null)
    {
        <form asp-action="Create" asp-controller="Cheers" asp-route-breweryId="@ViewBag.Brewery.Id">
            <button type="submit" class="image-button"><img class="image-button" src="~/Images/CheersButton.png" height="25px" width="25px" /></button>
             @ViewBag.Brewery.CheersCount
        </form>
    }
    else
    {
        <p>
            Cheers:
            @ViewBag.Brewery.CheersCount
        </p>
    }
    <hr />
    <dl class="col text-center">
        <dt class="order-sm-2 ">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="order-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="order-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="order-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="order-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class="order-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class="order-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="order-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="order-sm-2">
            @Html.DisplayNameFor(model => model.Drinks)
        </dt>
        <dd class="order-sm-10">
            <div>

                @foreach (var drink in Model.Drinks)
                {
                    <li>@Html.DisplayFor(model => drink.Name) (@Html.DisplayFor(model => drink.AlcoholPercent)% ALC/VOL)</li>
                }
            </div>
        </dd>
    </dl>
    <div class="text-center">
        <form asp-action="Index" asp-controller="Comments" asp-route-breweryId="@Model.Id">
            <p>@Html.DisplayFor(model => model.CommentCount) Total Comments</p>
            <button>View Comments</button>
        </form>
    </div>
</div>
<div>
    @if (user == null)
    {
        <a asp-area="Identity" asp-page="/Account/Login">Login |</a>
    }
    else if (user.UserTypeId == 1 || user.UserTypeId == 2)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit |</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
