@model Beer_Quest.Models.Brewery

@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}

@{var user = await UserManager.GetUserAsync(User);}

<h1>Details</h1>

<div>
    <h4 class=" text-center">
        <img class="img-thumbnail" style="max-width: 150px;" src="@Url.Content("~/images/" + Model.ImagePath)" alt="" />
        @Html.DisplayFor(model => model.Name)
    </h4>
    <form asp-action="Create" asp-controller="Cheers" asp-route-breweryId="@ViewBag.BreweryId">
        <button type="submit">Cheers</button>
    </form> @Html.DisplayFor(model => model.CheersCount)
    <p class="text-center">
        Cheers @Html.DisplayFor(model => model.CheersCount)
    </p>
    <hr />
    <dl class="col text-center">
        <dt class="order-sm-2 ">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="order-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="order-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="order-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="order-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class="order-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class="order-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="order-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="order-sm-2">
            @Html.DisplayNameFor(model => model.Drinks)
        </dt>
        <dd class="order-sm-10">
            <div>

                @foreach (var drink in Model.Drinks)
                {
                    <li>@Html.DisplayFor(model => drink.Name) (@Html.DisplayFor(model => drink.AlcoholPercent)% ALC/VOL)</li>
                }
            </div>
        </dd>
        <dt class="order-sm-10">
            <form asp-action="Index" asp-controller="Comments" asp-route-breweryId="@Model.Id">
                <button>View Comments</button>
            </form>
        </dt>
    </dl>
</div>
<div>
    @if (user == null)
    {
        <a asp-area="Identity" asp-page="/Account/Login">Login |</a>
    }
    else if (user.UserTypeId == 1 || user.UserTypeId == 2)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit |</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
