@model IEnumerable<Beer_Quest.Models.ViewModels.BreweryCheerCountViewModel>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{var user = await UserManager.GetUserAsync(User);}


@{
    ViewData["Title"] = "Index";
}


@if (user != null)
{
    if (user.UserTypeId == 1)
    {
        <div class="create-brewery-wrapper">
            <div class="create-brewery-button">
                <p class="text-center">
                    <a asp-action="Create">Create New Brewery</a>
                </p>
            </div>
        </div>
    }
}

@foreach (var item in Model)
{
    <div class="card-divs">
        <div class="card" style="width: 50%;">
            <h3 class="card-header card-header-footer">@Html.DisplayFor(modelItem => item.Name)</h3>
            <img class="img-thumbnail" style="height: 125px; width: 150px; padding:0px; margin:5px;" src="@Url.Content("~/images/" + item.ImagePath)" alt="" />
            <div style="width:16%;">
                @if (user != null)
                {
                    <form class="cheers-button-form" style="padding:5px;" asp-action="Create" asp-controller="Cheers" asp-route-breweryId="@item.Id">
                        <button type="submit" class=" btn btn-outline-info" style="background-color: #034381 !important;"><img class="image-button" src="~/Images/CheersButton.png" style="height:25px; width:25px;" /></button>
                        @Html.DisplayFor(modelItem => item.CheersCount)
                    </form>
                }
                else
                {
                    <p class="cheers-button-form" style="color: ghostwhite;">
                        Cheers:
                        @Html.DisplayFor(modelItem => item.CheersCount)
                    </p>
                }
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item card-items">
                    <p class="font-weight-bold">City: </p>
                    @Html.DisplayFor(modelItem => item.City)
                </li>
                <li class="list-group-item card-items">
                    <p class="font-weight-bold">Phone: </p>
                    @Html.DisplayFor(modelItem => item.Phone)
                </li>
            </ul>
            <div class="card-body card-header-footer">
                @if (user != null)
                {
                    @if (user.UserTypeId == 2 && user.Id == item.UserId)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit Brewery |</a>
                    }
                    else
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit Brewery |</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete |</a>
                    }
                }
                <a asp-action="Details" asp-route-id="@item.Id">View Brewery</a>
            </div>
        </div>
    </div>
}

@*<table class="table table-striped">
        <tbody>
            @foreach (var item in Model)
            {
                <card>
                    <tr>
                        <card>

                            <td>
                                <img class="img-thumbnail" style="max-width: 150px;" src="@Url.Content("~/images/" + item.ImagePath)" alt="" />
                                @if (user != null)
                                {
                                    <form asp-action="Create" asp-controller="Cheers" asp-route-breweryId="@item.Id">
                                        <button type="submit" class="image-button"><img class="image-button" src="~/Images/CheersButton.png" height="25px" width="25px" /></button>
                                        @Html.DisplayFor(modelItem => item.CheersCount)
                                    </form>
                                }
                                else
                                {
                                    <p>
                                        Cheers:
                                        @Html.DisplayFor(modelItem => item.CheersCount)
                                    </p>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                                @if (user != null)
                                {
                                    @if (user.UserTypeId == 1 || user.UserTypeId == 2 && user.Id == item.UserId)
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit Brewery |</a>
                                    }
                                }
                                <a asp-action="Details" asp-route-id="@item.Id">View Brewery</a>
                                < asp-action="Delete" asp-route-id="@item.Id">Delete</>
                            </td>
                        </card>
                    </tr>
                </card>
            }
        </tbody>
    </table>*@
