@model Beer_Quest.Models.ViewModels.BreweryCommentViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{var user = await UserManager.GetUserAsync(User);}
@{var userId = Html.DisplayFor(model => model.Brewery.UserId);}
@{var brewery = ViewBag.Brewery; }
@{
    ViewData["Title"] = "Index";
}


<div class="card-divs">
    <div class="card" style="width: 50%;">
        <h3 class="card-header card-header-footer">@ViewBag.Brewery.Name</h3>
        <img class="img-thumbnail" style="height: 125px; width: 150px; padding:0px; margin:5px;" src="@Url.Content("~/images/" + ViewBag.Brewery.ImagePath)" alt="" />
        <div style="width:16%;">
            @if (user != null)
            {
                <form class="cheers-button-form" style="padding:5px;" asp-action="Create" asp-controller="Cheers" asp-route-breweryId="@ViewBag.Brewery.Id">
                    <button type="submit" class=" btn btns" style="background-color: #034381 !important;"><img class="image-button" src="~/Images/CheersButton.png" style="height:25px; width:25px;" /></button>
                    <p style="color: ghostwhite;">@ViewBag.CheersCount</p>
                </form>
            }
            else
            {
                <p class="cheers-button-form" style="color: ghostwhite;">
                    Cheers:
                    @ViewBag.CheersCount
                </p>
            }
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item card-items">
                <p class="font-weight-bold">City: </p>
                @ViewBag.Brewery.City
            </li>
            <li class="list-group-item card-items">
                <p class="font-weight-bold">Phone: </p>
                @ViewBag.Brewery.Phone
            </li>
            <li class="list-group-item card-items">
                <p class="font-weight-bold">Comments: </p>

                <div>
                    @foreach (var item in Model.Comments)
                    {
                        <p>
                            @Html.DisplayFor(modelItem => item.Text)   - @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)
                        </p>
                        @if (user != null)
                        {
                            @if (user.Id == item.UserId)
                            {
                                <p>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </p>
                            }
                        }
                    }
                </div>
            </li>
        </ul>
        <div>
            @if (user != null)
            {
                <form class="comment-form" asp-action="Create" asp-controller="Comments" asp-route-breweryId="@ViewBag.BreweryId">
                    <div class="form-group">
                        <input asp-for="UserComment" class="form-control" />
                    </div>
                    <button type="submit" class="btn btns" style="background-color: #034381; color:ghostwhite;">Comment</button>
                </form>
            }
            else
            {
                <p style="color: ghostwhite; margin-left: 20px;">*Please sign in to leave a comment.*</p>
            }
        </div>
        <div class="card-body card-header-footer">
            @if (user != null)
            {
                @if (user.UserTypeId == 2 && user.Id == Model.Brewery.UserId)
                {
                    <a asp-action="Edit" asp-route-id="@ViewBag.Brewery.Id">Edit Brewery |</a>
                }
                else if(user.UserTypeId == 1)
                {
                    <a asp-action="Edit" asp-route-id="@ViewBag.Brewery.Id">Edit Brewery |</a>
                    <a asp-action="Delete" asp-route-id="@ViewBag.Brewery.Id">Delete |</a>
                }
            }
            <a asp-action="Details" asp-controller="Breweries" asp-route-id="@ViewBag.BreweryId">Back To Brewery Details</a>
        </div>
    </div>
</div>